#ReViewClipOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}

.gray-overlay {
	background-color: gray;
	opacity: 0.5;
}

#ReViewClipOverlayTop, #ReViewClipOverlayBottom {
	width: 100%;
}

#ReViewClipOverlayTop,
#ReViewClipOverlayLeft, #ReViewClippedArea, #ReViewClipOverlayRight,
#ReViewClipOverlayBottom {
	float: left;
}