td {
	vertical-align: top;
}

.colorUI-choice {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.axes-input {
	display: inline-block;
	width: 100px;
}

#extractedData {
	overflow-y: auto;
	width: 200px;
	height: 200px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}